name: "Push"
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '1.23'
          go-version-file: 'go.mod'
          cache: true

      - name: Build binaries
        run: go install ./cmd/...

  unit:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '1.23'
          go-version-file: 'go.mod'
          cache: true

      - name: Run unit tests
        run: go test -v ./...


  staticcheck:
    name: "Staticcheck"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '1.23'
          go-version-file: 'go.mod'
          cache: true

      - uses: dominikh/staticcheck-action@v1.4.0
        with:
          install-go: false

  errcheck:
    name: "Errcheck"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '1.23'
          go-version-file: 'go.mod'
          cache: true

      - run: go install github.com/kisielk/errcheck@latest
      - run: errcheck -ignore 'AddCheck' ./...

  docker:
    name: "Build Docker Images"
    runs-on: ubuntu-latest
    needs: [build, unit, staticcheck, errcheck]
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    strategy:
      matrix:
        pg_version:
          - major: "15"
            full: "15.14"
          - major: "16"
            full: "16.10"
          - major: "17"
            full: "17.6"
    steps:
      - uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push latest
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./pg${{ matrix.pg_version.major }}/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/postgres-flex:${{ matrix.pg_version.major }}-latest
          build-args: |
            PG_VERSION=${{ matrix.pg_version.full }}
            PG_MAJOR_VERSION=${{ matrix.pg_version.major }}
            VERSION=latest-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
